
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>API 명세</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/shop-item.css" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://serviceoriented.ml:5000/">Multi Message</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://serviceoriented.ml:5000/service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://serviceoriented.ml:5000/">API Specification</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">API LIST</h1>
        <div class="list-group">
          <a href="https://serviceoriented.ml:5000/about1" class="list-group-item ">kakao talk API</a>
          <a href="https://serviceoriented.ml:5000/about2" class="list-group-item active">facebook API</a>
          <a href="https://serviceoriented.ml:5000/about3" class="list-group-item">kakao story API</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Facebook API Reviews
          </div>
          <div class="card-body">
            <h5>페이스북 피드 가져오기</h5>
            <p>사전에 페이스북 로그인 과정이 필요합니다. python의 facebook-sdk 모듈을 활용하여 GraphAPI에 Posts를 요청합니다. 현재 본 앱은 개발 중인 앱이며 본 앱의 개발자가 아니면 해당 API를 이용할 수 없습니다. API 호출 성공 시 사용자 타임라인의 피드 내용들이 담긴 String 배열을 반환하며 전체공개된 게시물만 내용을 가져올 수 있습니다. 에러 시 에러 메시지가 반환됩니다.</p>
            <img class="card-img-top img-fluid" src="static/about3.JPG" alt="">

          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <br><br><br><br><br><br><br><br><br>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
