<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>

  var checkLoginStatus = function(response) {
        // statusChangeCallback(response);
      console.log(response);
      if(response.status === 'connected') {
        FB.api('/me', function(resp) {
          document.querySelector('#authBtn').value = "연동해제";
        });
      }
      else {
        document.querySelector('#authBtn').value = "연동하기";
      } 
  };
  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1226404121075869',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v9.0'           // Use this Graph API version for this call.
    });

    FB.getLoginStatus(checkLoginStatus);  
    testAPI();
  };
  
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    FB.api('/me/', function(response) {
      console.log('Successful login for: ' + response.name);
      });
  }
    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
 
    

</script>


<!-- The JS SDK Login Button -->


<input type="button" id="authBtn" value="checking..." onclick="
     if(this.value === '연동하기') {
          FB.login(function(res) {
                console.log('login => ', res);
                checkLoginStatus(res);
          });
     }
     else {
          FB.logout(function(res) {
                console.log('logout => ', res);
                checkLoginStatus(res);
          });
     }">

<div id="status">
</div>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    
</body>
</html>