<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Multi Message</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://serviceoriented.ml:5000/">Multi Message</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link"  href="https://kauth.kakao.com/oauth/authorize?client_id=43e3daf58dd14d049001ebdbd6538f58&redirect_uri=https://serviceoriented.ml:5000/oauth&response_type=code&scope=talk_message">login
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://serviceoriented.ml:5000/">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://serviceoriented.ml:5000/about1">API Specification</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Multi Message</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a>서비스지향컴퓨팅 1조</a>
        </p>

        <hr>

        <!-- message -->

        <div class="card my-4">
          <h5 class="card-header">Message:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea id="messageBox" class="form-control" rows="10"></textarea>
              </div>
              <button type="button" id="submitBtn" class="btn btn-primary" onclick="loginFirst()">Submit</button>
            </form>
          </div>
        </div>
        <hr>

        <!-- Post-->

        <!-- facebook -->
        <div class="card my-4">
          <h5 class="card-header">Facebook Post </h5>
          <div class="card-body">
            <div class="input-group">
              <select name ="facebook_post" id="fb_posts" class="form-control" placeholder="Content...">
                <option value='' selected>--selected--</option>
              </select>
              <button type="button" class="btn btn-primary" onclick="loginFirst()">check</button>
              <button type="submit" class="btn btn-primary" onclick="loginFirst()">select</button> 
              <button type="button" class="btn btn-primary" onclick="loginFirst()">login</button>
                
            </div>
          </div>
        </div>

        <!-- kakao story -->
        <div class="card my-4">
          <h5 class="card-header">Kakao story Post </h5>
          <div class="card-body">
            <div class="input-group">
              <select name ="kakao_story_post" id="kakao_story_post" class="form-control" placeholder="Content...">
                <option value='' selected>--selected--</option>

              </select>

              <button type="submit" class="btn btn-primary" onclick="loginFirst()">check</button>
              <button type="submit" class="btn btn-primary" onclick="loginFirst()">select</button> 
                <script>
                  let postSelect = document.getElementById("kakao_story_post");
                  let selectEvent = function(){
                  let text = postSelect.options[postSelect.selectedIndex].text;
                  console.log(text);
                  document.getElementById("messageBox").value = text;
                }
                    
                var post_count = 0;
                function jQueryajaxJSON(){
                  if(post_count == 0){
                    var content2= new Array;
                    var post = new Array;
                    $.ajax({

                        url : "https://serviceoriented.ml:5000/kakaostory",
                        dataType : "json",
                        success:function(data){

                        for(key in data){
                              content2[key] = data[key].content;
                              var option = $("<option value="+content2[key] +">"+content2[key]+"</option>");
                              $("#kakao_story_post").append(option);
                             }
                          }
                        })
                       post_count++;
                  }
              }

              </script>

            </div>
          </div>
        </div>


      </div>

      <div class="col-md-4">

        <!-- friends -->
        <div class="card my-4" >
          <h5 class="card-header">friends</h5>
          <div class="card-body">
            <select name = "friends" id="friends" class="form-control" multiple="multiple">

            </select>
            <br>
            <button type="submit" class="btn btn-primary" id="addOpt" onclick="loginFirst()">fetch</button>
            <button type="submit" class="btn btn-primary" onclick="loginFirst()">select</button>
            <button type="submit" class="btn btn-primary" onclick="loginFirst()">select cancel</button>
            <br><br>
            <script>
              var friend = new Array();
              var fvalue = new Array();
              let submit= () => {
                fetch('https://serviceoriented.ml:5000/friend').then(response=> response.json()).then(json => {
                  for(var i = 0;i<json.total_count;i++){
                    friend[i] = json.elements[i].profile_nickname;
                    fvalue[i] = json.elements[i].uuid;
                    var option = $("<option value='"+String(fvalue[i]+" "+friend[i])+"'>"+friend[i]+"</option>");
                    $("#friends").append(option);
                    console.log(String(fvalue[i]+" "+friend[i]).split(' '));
                  }
                });
              }
            </script>
              <div>
                  <ul id="selList">
                  </ul>
              </div>
          </div>
        </div>



      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    var code = new Array();
    var name = new Array();
    function submitClick() {
        url = 'https://serviceoriented.ml:5000/friend_message';
        var myMessage = $("#messageBox").val().trim();
        console.log(code);
        if (myMessage == "") {
            alert("내용을 입력하세요.");
            return false;
        }
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, 
            body: JSON.stringify({
                "message":myMessage,
                "friends":code
            })
        }
                ).then((response)=>response.json()).then((data)=>console.log(data));
    }
    function fbLinkBtnClick() {
        location.href = 'https://www.facebook.com/v9.0/dialog/oauth?client_id=822581321822671&redirect_uri=https://serviceoriented.ml:5000/fb-login/oauth&scope=user_posts'
    }
    fbposts = new Array();
    function fbLoadBtnClick() {
        url = 'https://serviceoriented.ml:5000/fb-posts';
        fetch(url).then((response)=>response.json()).then(Array=>{
            for (var i=0; i<Array.length; i++) {
                fbposts.push(Array[i]);
            }
            for (var i in fbposts) {
                var option = $("<option value="+fbposts[i] +">"+fbposts[i]+"</option>");
                              $("#fb_posts").append(option);
            }
        });
    }
    
    let fb_postSelect = document.getElementById("fb_posts");
    let fb_selectEvent = function(){
    let fb_text = fb_postSelect.options[fb_postSelect.selectedIndex].text;
    console.log(fb_text);
    document.getElementById("messageBox").value = fb_text;
    }
                  
    function select_code(){
                var obj = document.getElementById("friends");
                for (var i=0,cnt=obj.options.length;i<cnt;i++) {
                     if (obj.options[i].selected == true){
                        var valueSplit = obj.options[i].value.split(' ');
                        code[i] = valueSplit[0];
                        name[i] = valueSplit[1];
                        console.log(valueSplit[1]);
                        var plusLi = document.createElement('li');
                        plusLi.innerText = valueSplit[1];
                        document.getElementById("selList").appendChild(plusLi);
                     }
                }
    }
    function cancel_code(){
                var obj = document.getElementById("friends");
                var deleteLi = document.getElementById("selList");
                for (var i=0,cnt=obj.options.length;i<cnt;i++) {
                     if (obj.options[i].selected == true){
                        obj.options[i].selected = false;
                     }
                     console.log(obj.options[i].selected);
                 }
                while (deleteLi.hasChildNodes()) {
                    deleteLi.removeChild(deleteLi.firstChild);
                }
               }
    function loginFirst() {
        alert("먼저 로그인해주세요.");
    }
</script>
</html>